# Aula 02

## Modelagem de tabelas especializadas com dados agrupados e/ou sumarizados.

## Técnicas de limpeza de dados para geração de tabelas harmonizadas e especializadas.

In [1]:
#Bibliotecas

import pandas as pd

In [9]:
gatos = pd.read_csv('cat_breeds.csv')

In [10]:
gatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 62 non-null     object
 1   length               62 non-null     object
 2   origin               62 non-null     object
 3   min_life_expectancy  62 non-null     float64
 4   max_life_expectancy  62 non-null     float64
 5   min_weight           62 non-null     float64
 6   max_weight           62 non-null     float64
 7   family_friendly      62 non-null     int64
 8   shedding             62 non-null     int64
 9   general_health       62 non-null     int64
 10  playfulness          62 non-null     int64
 11  children_friendly    62 non-null     int64
 12  grooming             62 non-null     int64
 13  intelligence         62 non-null     int64
 14  other_pets_friendly  62 non-null     int64
dtypes: float64(4), int64(8), object(3)
memory usage: 7.4+ KB

In [14]:
colunas = {'name':'Nome', 'origin':'Origem','min_life_expectancy':'Expectativa minima de vida','man_life_expectancy':'Expectativa maxima de vida','min_weight':'peso mínimo','max_weight':'peso maximo','family_friendly':'Dócil','shedding':'solta pelos','general_health':'Saúde em geral','playfulness':'Gosta de brincar','children_friendly':'Gosta de crianças','grooming':'Limpo','intelligence':'inteligencia','other_pets_friendly':'Tranquilo para outros pets'}
gatos.rename(columns=colunas, inplace=True)
gatos

,Nome,length,Origem,Expectativa minima de vida,max_life_expectancy,peso mínimo,peso maximo,Dócil,solta pelos,Saúde em geral,Gosta de brincar,Gosta de crianças,Limpo,inteligencia,Tranquilo para outros pets
0,Abyssinian,12 to 16 inches,Southeast Asia,9.0,15.0,6.0,10.0,3,3,2,5,5,3,5,5
1,Aegean,Medium,Greece,9.0,10.0,7.0,10.0,5,3,4,4,5,4,4,3
2,American Bobtail,Medium,United States and Canada,11.0,15.0,8.0,13.0,4,4,4,4,4,3,4,4
3,American Shorthair,12 to 15 inches,United States,15.0,20.0,7.0,12.0,3,3,4,2,4,4,4,3
4,American Wirehair,Medium to large,United States,14.0,18.0,8.0,15.0,4,3,5,3,4,5,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Toyger,Medium,United States,10.0,15.0,7.0,15.0,5,1,3,4,4,4,4,4
58,Turkish Angora,Medium,"Ankara, Turkey",12.0,18.0,5.0,9.0,5,2,3,5,3,4,4,3
59,Turkish Van,14 to 17 inches,"Lake Van, Turkey",12.0,17.0,10.0,18.0,3,2,4,4,3,4,5,3
60,Ukrainian Levkoy,Medium,Russia,9.0,15.0,8.0,12.0,5,1,3,4,5,2,5,4
61,York Chocolate,Large,United States,13.0,15.0,10.0,18.0,4,4,3,4,4,2,4,3

In [15]:
gatos.isna().sum()

Nome                          0
length                        0
Origem                        0
Expectativa minima de vida    0
max_life_expectancy           0
peso mínimo                   0
peso maximo                   0
Dócil                         0
solta pelos                   0
Saúde em geral                0
Gosta de brincar              0
Gosta de crianças             0
Limpo                         0
inteligencia                  0
Tranquilo para outros pets    0
dtype: int64