# Great Expectations

## Instalando

In [1]:
!pip install great_expectations

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting great_expectations
  Downloading great_expectations-0.16.3-py3-none-any.whl (5.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 34.7 MB/s eta 0:00:00
Collecting makefun<2,>=1.7.0
  Downloading makefun-1.15.1-py2.py3-none-any.whl (22 kB)
Requirement already satisfied: importlib-metadata>=1.7.0 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (6.1.0)
Collecting ruamel.yaml<0.17.18,>=0.16
  Downloading ruamel.yaml-0.17.17-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.1/109.1 KB 3.6 MB/s eta 0:00:00
Collecting altair<4.2.1,>=4.0.0
  Downloading altair-4.2.0-py3-none-any.whl (812 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 812.8/812.8 KB 39.1 MB/s eta 0:00:00
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (7.7.1)
Requirement already satisfied: pytz>=2021.3 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (2022.7.1)
Requirement already satisfied: jsonschema>=2.5.1 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (4.3.3)
Collecting colorama>=0.4.3
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: tzlocal>=1.2 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (4.3)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (1.26.15)
Requirement already satisfied: tqdm>=4.59.0 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (4.65.0)
Requirement already satisfied: nbformat>=5.0 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (5.8.0)
Collecting jsonpatch>=1.22
  Downloading jsonpatch-1.32-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (2.8.2)
Requirement already satisfied: mistune>=0.8.4 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (0.8.4)
Collecting notebook>=6.4.10
  Downloading notebook-6.5.3-py3-none-any.whl (529 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 529.7/529.7 KB 26.3 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from great_expectations) (23.0)
Collecting Ipython>=7.16.3
  Downloading ipython-8.11.0-py3-none-any.whl (793 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 793.3/793.3 KB 33.7 MB/s eta 0:00:00
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (1.10.1)
Collecting marshmallow<4.0.0,>=3.7.1
  Downloading marshmallow-3.19.0-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 KB 2.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (1.22.4)
Requirement already satisfied: jinja2>=2.10 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (3.1.2)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (4.5.0)
Requirement already satisfied: pandas>=1.1.3 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (1.4.4)
Requirement already satisfied: pydantic<2.0,>=1.10.4 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (1.10.7)
Requirement already satisfied: cryptography>=3.2 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (39.0.2)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (2.27.1)
Requirement already satisfied: pyparsing>=2.4 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (3.0.9)
Requirement already satisfied: Click>=7.1.2 in /usr/local/lib/python3.9/dist-packages (from great_expectations) (8.1.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.9/dist-packages (from altair<4.2.1,>=4.0.0->great_expectations) (0.4)
Requirement already satisfied: toolz in /usr/local/lib/python3.9/dist-packages (from altair<4.2.1,>=4.0.0->great_expectations) (0.12.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.2->great_expectations) (1.15.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=1.7.0->great_expectations) (3.15.0)
Requirement already satisfied: pygments>=2.4.0 in /usr/local/lib/python3.9/dist-packages (from Ipython>=7.16.3->great_expectations) (2.14.0)
Collecting jedi>=0.16
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 18.5 MB/s eta 0:00:00
Requirement already satisfied: traitlets>=5 in /usr/local/lib/python3.9/dist-packages (from Ipython>=7.16.3->great_expectations) (5.7.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/dist-packages (from Ipython>=7.16.3->great_expectations) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from Ipython>=7.16.3->great_expectations) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from Ipython>=7.16.3->great_expectations) (0.7.5)
Collecting matplotlib-inline
  Downloading matplotlib_inline-0.1.6-py3-none-any.whl (9.4 kB)
Collecting stack-data
  Downloading stack_data-0.6.2-py3-none-any.whl (24 kB)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from Ipython>=7.16.3->great_expectations) (0.2.0)
Collecting prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30
  Downloading prompt_toolkit-3.0.38-py3-none-any.whl (385 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 385.8/385.8 KB 15.3 MB/s eta 0:00:00
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.5.1->great_expectations) (3.6.3)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.5.1->great_expectations) (3.0.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.5.1->great_expectations) (0.2.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.5.1->great_expectations) (5.3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2>=2.10->great_expectations) (2.1.2)
Collecting jsonpointer>=1.9
  Downloading jsonpointer-2.3-py2.py3-none-any.whl (7.8 kB)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.5.1->great_expectations) (22.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.5.1->great_expectations) (0.19.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.9/dist-packages (from nbformat>=5.0->great_expectations) (5.3.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat>=5.0->great_expectations) (2.16.3)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (6.5.4)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (23.2.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (6.2)
Requirement already satisfied: jupyter-client>=5.3.4 in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (6.1.12)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (1.5.6)
Collecting nbclassic>=0.4.7
  Downloading nbclassic-0.5.3-py3-none-any.whl (10.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.0/10.0 MB 17.2 MB/s eta 0:00:00
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (21.3.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (0.16.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (0.17.1)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.9/dist-packages (from notebook>=6.4.10->great_expectations) (1.8.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->great_expectations) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->great_expectations) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->great_expectations) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->great_expectations) (2022.12.7)
Collecting ruamel.yaml.clib>=0.1.2
  Downloading ruamel.yaml.clib-0.2.7-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (519 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 519.4/519.4 KB 15.4 MB/s eta 0:00:00
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.9/dist-packages (from tzlocal>=1.2->great_expectations) (0.1.0.post0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.2->great_expectations) (2.21)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.16->Ipython>=7.16.3->great_expectations) (0.8.3)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core->nbformat>=5.0->great_expectations) (3.1.1)
Collecting jupyter-server>=1.8
  Downloading jupyter_server-2.5.0-py3-none-any.whl (366 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 366.8/366.8 KB 9.2 MB/s eta 0:00:00
Collecting notebook-shim>=0.1.0
  Downloading notebook_shim-0.2.2-py3-none-any.whl (13 kB)
Requirement already satisfied: bleach in /usr/local/lib/python3.9/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (6.0.0)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.9/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (0.2.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (4.11.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (1.5.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (4.9.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.9/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (0.7.2)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.9/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (1.2.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.9/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (0.7.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect>4.3->Ipython>=7.16.3->great_expectations) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->Ipython>=7.16.3->great_expectations) (0.2.6)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.9/dist-packages (from argon2-cffi->notebook>=6.4.10->great_expectations) (21.2.0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.9/dist-packages (from pytz-deprecation-shim->tzlocal>=1.2->great_expectations) (2022.7)
Collecting asttokens>=2.1.0
  Downloading asttokens-2.2.1-py2.py3-none-any.whl (26 kB)
Collecting executing>=1.2.0
  Downloading executing-1.2.0-py2.py3-none-any.whl (24 kB)
Collecting pure-eval
  Downloading pure_eval-0.2.2-py3-none-any.whl (11 kB)
Collecting pyzmq>=17
  Downloading pyzmq-25.0.2-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 18.6 MB/s eta 0:00:00
Collecting jupyter-server-terminals
  Downloading jupyter_server_terminals-0.4.4-py3-none-any.whl (13 kB)
Collecting websocket-client
  Downloading websocket_client-1.5.1-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 KB 3.6 MB/s eta 0:00:00
Collecting anyio>=3.1.0
  Downloading anyio-3.6.2-py3-none-any.whl (80 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.6/80.6 KB 4.7 MB/s eta 0:00:00
Collecting jupyter-events>=0.4.0
  Downloading jupyter_events-0.6.3-py3-none-any.whl (18 kB)
Collecting jupyter-client>=5.3.4
  Downloading jupyter_client-8.1.0-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.9/102.9 KB 4.1 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->nbconvert>=5->notebook>=6.4.10->great_expectations) (2.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from bleach->nbconvert>=5->notebook>=6.4.10->great_expectations) (0.5.1)
Collecting sniffio>=1.1
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.9/dist-packages (from jupyter-events>=0.4.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=6.4.10->great_expectations) (6.0)
Collecting rfc3986-validator>=0.1.1
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl (4.2 kB)
Collecting rfc3339-validator
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Collecting python-json-logger>=2.0.4
  Downloading python_json_logger-2.0.7-py3-none-any.whl (8.1 kB)
WARNING: jsonschema 4.3.3 does not provide the extra 'format-nongpl'
Installing collected packages: pure-eval, makefun, executing, websocket-client, sniffio, ruamel.yaml.clib, rfc3986-validator, rfc3339-validator, pyzmq, python-json-logger, prompt-toolkit, matplotlib-inline, marshmallow, jsonpointer, jedi, colorama, asttokens, stack-data, ruamel.yaml, jupyter-server-terminals, jupyter-client, jsonpatch, anyio, jupyter-events, Ipython, altair, jupyter-server, notebook-shim, nbclassic, notebook, great_expectations
  Attempting uninstall: pyzmq
    Found existing installation: pyzmq 23.2.1
    Uninstalling pyzmq-23.2.1:
      Successfully uninstalled pyzmq-23.2.1
  Attempting uninstall: prompt-toolkit
    Found existing installation: prompt-toolkit 2.0.10
    Uninstalling prompt-toolkit-2.0.10:
      Successfully uninstalled prompt-toolkit-2.0.10
  Attempting uninstall: jupyter-client
    Found existing installation: jupyter-client 6.1.12
    Uninstalling jupyter-client-6.1.12:
      Successfully uninstalled jupyter-client-6.1.12
  Attempting uninstall: Ipython
    Found existing installation: ipython 7.9.0
    Uninstalling ipython-7.9.0:
      Successfully uninstalled ipython-7.9.0
  Attempting uninstall: altair
    Found existing installation: altair 4.2.2
    Uninstalling altair-4.2.2:
      Successfully uninstalled altair-4.2.2
  Attempting uninstall: notebook
    Found existing installation: notebook 6.3.0
    Uninstalling notebook-6.3.0:
      Successfully uninstalled notebook-6.3.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires ipython~=7.9.0, but you have ipython 8.11.0 which is incompatible.
google-colab 1.0.0 requires notebook~=6.3.0, but you have notebook 6.5.3 which is incompatible.
Successfully installed Ipython-8.11.0 altair-4.2.0 anyio-3.6.2 asttokens-2.2.1 colorama-0.4.6 executing-1.2.0 great_expectations-0.16.3 jedi-0.18.2 jsonpatch-1.32 jsonpointer-2.3 jupyter-client-8.1.0 jupyter-events-0.6.3 jupyter-server-2.5.0 jupyter-server-terminals-0.4.4 makefun-1.15.1 marshmallow-3.19.0 matplotlib-inline-0.1.6 nbclassic-0.5.3 notebook-6.5.3 notebook-shim-0.2.2 prompt-toolkit-3.0.38 pure-eval-0.2.2 python-json-logger-2.0.7 pyzmq-25.0.2 rfc3339-validator-0.1.4 rfc3986-validator-0.1.1 ruamel.yaml-0.17.17 ruamel.yaml.clib-0.2.7 sniffio-1.3.0 stack-data-0.6.2 websocket-client-1.5.1

## Validando os dados

Validamos o conjunto de dados com a suíte de expectativas. 

Em seguida, verificamos se a validação foi bem-sucedida verificando o atributo success do objeto ExpectationValidationResult

### Validação de valores únicos em uma coluna

In [2]:
import great_expectations as ge
import pandas as pd

# Criação de um dataframe com uma coluna "nome" que deve conter apenas valores únicos
df = pd.DataFrame({'nome': ['João', 'Maria', 'João', 'Pedro', 'Ana']})

In [3]:
df_ge = ge.dataset.PandasDataset(df)

In [8]:
result = df_ge.expect_column_values_to_be_unique(column = 'nome')
result

{
  "expectation_config": {
    "kwargs": {
      "column": "nome",
      "result_format": "BASIC"
    },
    "meta": {},
    "expectation_type": "expect_column_values_to_be_unique"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 5,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 2,
    "unexpected_percent": 40.0,
    "unexpected_percent_total": 40.0,
    "unexpected_percent_nonmissing": 40.0,
    "partial_unexpected_list": [
      "Jo\u00e3o",
      "Jo\u00e3o"
    ]
  },
  "success": false
}

In [9]:
if result['success']:
  print('só há registros unicos')
else:
  print('há registros repetidos')

há registros repetidos

Crie uma expectation que verifica se a coluna "codigo" contém apenas valores únicos.

Use a função ``expect_column_values_to_be_unique`` para definir essa expectativa

In [10]:
# Criando um dataframe com uma coluna "codigo" que deve conter valores únicos
df = pd.DataFrame({'codigo': [1001, 1002, 1003, 1002, 1004, 1001]})

In [13]:
result = ge.dataset.PandasDataset(df).expect_column_values_to_be_unique('codigo')

In [14]:
result

{
  "expectation_config": {
    "kwargs": {
      "column": "codigo",
      "result_format": "BASIC"
    },
    "meta": {},
    "expectation_type": "expect_column_values_to_be_unique"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 6,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 4,
    "unexpected_percent": 66.66666666666666,
    "unexpected_percent_total": 66.66666666666666,
    "unexpected_percent_nonmissing": 66.66666666666666,
    "partial_unexpected_list": [
      1001,
      1002,
      1002,
      1001
    ]
  },
  "success": false
}

### Validação de valores mínimos e máximos em uma coluna numérica

In [15]:
# Criação de um dataframe com uma coluna "idade" que deve conter valores numéricos entre 0 e 100
df = pd.DataFrame({'idade': [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105]})

In [19]:
result = df_ge.dataset.PandasDataset(df).expect_column_values_to_be_between(column = 'idade',10,20)
result

SyntaxError: ignored

### Validação de formatos de data em uma coluna

In [22]:
# Criação de um dataframe com uma coluna "data" que deve conter datas no formato 'YYYY-MM-DD'
df = pd.DataFrame({'data': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05']})

In [24]:
df_ge = ge.dataset.PandasDataset(df)
result = df_ge.expect_column_values_to_match_regex(column='data', regex='^\d{4}-\d{2}-\d{2}$')
result

WARNING:py.warnings:<>:2: DeprecationWarning: invalid escape sequence \d

WARNING:py.warnings:<>:2: DeprecationWarning: invalid escape sequence \d

WARNING:py.warnings:<ipython-input-24-a0c8c32406ba>:2: DeprecationWarning: invalid escape sequence \d
  result = df_ge.expect_column_values_to_match_regex(column='data', regex='^\d{4}-\d{2}-\d{2}$')

{
  "expectation_config": {
    "kwargs": {
      "column": "data",
      "regex": "^\\d{4}-\\d{2}-\\d{2}$",
      "result_format": "BASIC"
    },
    "meta": {},
    "expectation_type": "expect_column_values_to_match_regex"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 5,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "success": true
}

### Validação de valores nulos em uma coluna

Criaremos uma Expectation que verifica se a coluna "salario" não contém valores nulos

In [32]:
# Criação de um dataframe com uma coluna "salario" que não deve conter valores nulos
df = pd.DataFrame({'salario': [2000, 2500, 3000, None, 4000, 4500]})

In [33]:
df_ge = ge.dataset.PandasDataset(df)
result = df_ge.expect_column_values_to_not_be_null(column = 'salario')
result

{
  "expectation_config": {
    "kwargs": {
      "column": "salario",
      "result_format": "BASIC"
    },
    "meta": {},
    "expectation_type": "expect_column_values_to_not_be_null"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 6,
    "unexpected_count": 1,
    "unexpected_percent": 16.666666666666664,
    "unexpected_percent_total": 16.666666666666664,
    "partial_unexpected_list": []
  },
  "success": false
}

### Validação de formatos de string em uma coluna

Vamos criar uma Expectation que verifica se a coluna "cpf" contém apenas CPFs no formato 'XXX.XXX.XXX-XX'. 

Usaremos a função ``expect_column_values_to_match_regex`` para definir essa expectativa.

In [29]:

# Criação de um dataframe com uma coluna "cpf" que deve conter CPFs no formato 'XXX.XXX.XXX-XX'
df = pd.DataFrame({'cpf': ['123.456.789-10', '234.567.890-12', '345.678.901-23', '456.789.012-34', '567.890.123-45']})

In [30]:
df_ge = ge.dataset.PandasDataset(df)
result = df_ge.expect_column_values_to_match_regex(column='cpf', regex='^\d{3}.\d{3}.\d{3}-\d{2}$')
result

WARNING:py.warnings:<>:2: DeprecationWarning: invalid escape sequence \d

WARNING:py.warnings:<>:2: DeprecationWarning: invalid escape sequence \d

WARNING:py.warnings:<ipython-input-30-8214b6b86cfa>:2: DeprecationWarning: invalid escape sequence \d
  result = df_ge.expect_column_values_to_match_regex(column='cpf', regex='^\d{3}.\d{3}.\d{3}-\d{2}$')

{
  "expectation_config": {
    "kwargs": {
      "column": "cpf",
      "regex": "^\\d{3}.\\d{3}.\\d{3}-\\d{2}$",
      "result_format": "BASIC"
    },
    "meta": {},
    "expectation_type": "expect_column_values_to_match_regex"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 5,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "success": true
}

### Validação de valores numéricos em uma coluna

Use a função ``expect_column_values_to_be_between`` para verificar se a coluna "idade" contém apenas valores entre 18 e 60 anos.

Passamos os valores mínimo e máximo permitidos como argumentos. Em seguida, validamos o conjunto de dados com a suíte de expectativas e verificamos se a validação foi bem-sucedida.

In [48]:
# Criação de um dataframe com uma coluna "idade" que deve conter valores entre 18 e 60 anos
df = pd.DataFrame({'idade': [25, 40, 50, 32, 18, 70]})
df

   idade
0     25
1     40
2     50
3     32
4     18
5     70

In [49]:
df_ge = ge.dataset.PandasDataset(df)
result = df_ge.expect_column_values_to_be_between(column='idade', min_value= 18, max_value= 60)
result

{
  "expectation_config": {
    "kwargs": {
      "column": "idade",
      "min_value": 18,
      "max_value": 60,
      "result_format": "BASIC"
    },
    "meta": {},
    "expectation_type": "expect_column_values_to_be_between"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 6,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 1,
    "unexpected_percent": 16.666666666666664,
    "unexpected_percent_total": 16.666666666666664,
    "unexpected_percent_nonmissing": 16.666666666666664,
    "partial_unexpected_list": [
      70
    ]
  },
  "success": false
}

### Validação de contagem de valores em uma coluna


Vamos criar um dataframe com uma coluna "cidade" e usar a função ``expect_column_value_counts_to_be_between`` para definir se a coluna "cidade" contém pelo menos 3 ocorrências de cada cidade. 

Em seguida, passamos um dicionário com os valores esperados de cada cidade e um valor mínimo e máximo de ocorrências permitidas.

In [61]:
# Criação de um dataframe com uma coluna "cidade" que deve conter pelo menos 3 ocorrências de cada cidade
df = pd.DataFrame({'cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Rio de Janeiro', 'Belo Horizonte']})

df

           cidade
0       São Paulo
1  Rio de Janeiro
2  Belo Horizonte
3       São Paulo
4  Rio de Janeiro
5  Belo Horizonte
6       São Paulo
7  Rio de Janeiro
8  Belo Horizonte

In [62]:
df_ge = ge.dataset.PandasDataset(df)
result = df_ge.expect_column_unique_value_count_to_be_between(column = 'cidade', min_value=3, max_value=5)
result

{
  "expectation_config": {
    "kwargs": {
      "column": "cidade",
      "min_value": 3,
      "max_value": 5,
      "result_format": "BASIC"
    },
    "meta": {},
    "expectation_type": "expect_column_unique_value_count_to_be_between"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": 3,
    "element_count": 9,
    "missing_count": null,
    "missing_percent": null
  },
  "success": true
}

## Salve sua suíte Expectation

In [63]:
import json

with open( "data/expectations.json", "w") as my_file:
    my_file.write(
        json.dumps(df.get_expectation_suite().to_json_dict())
    )

FileNotFoundError: ignored

## Carregando dados

In [ ]:
import great_expectations as gx
import pandas as pd

df = gx.read_csv('data/us_tax_data_2016.csv')

In [ ]:
df.head()

## Definindo expectativas dos dados

In [ ]:
df.expect_column_values_to_be_in_set('zipcode', ['0'])

In [ ]:
df.expect_column_values_to_be_in_set('zipcode', [0], mostly=.99)

## Obtendo as Expectativas

In [ ]:
df.get_expectation_suite()

Por padrão, ``get_expectation_suite()`` retorna apenas Expectations com ``success=True``. 

Você pode substituir esse comportamento com:

In [ ]:
df.get_expectation_suite(discard_failed_expectations=False)

##desafio
Crie um dataset contendo as seguites colunas:
    nome
    email
    telefone
    idade
    
expectativas:
    pelo menos 10% tem que ser maior de idade
    todos os emails devem ser sintaticamente validos
    os telefones devem possuir dd + 9 digitos

In [66]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-18.3.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 28.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.9/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-18.3.1

In [76]:
from faker import Faker

fake = Faker()

fake_df = pd.DataFrame({
    'name':  [fake.name() for i in range(10)],
    'email': [fake.email() for i in range(10)],
    'idade': [fake.random_int(min=18, max=99) for i in range(10)],
    'telefone': [fake.phone_number() for i in range(10)]
})

fake_df

,name,email,idade,telefone
0,Patricia Robinson,waltersjennifer@example.com,94,212-192-2392
1,Michael Stephenson,ocarlson@example.net,61,820.492.2699x475
2,Austin Brown,kennethstevens@example.org,68,4886436185
3,Melinda Long,alexandria04@example.net,69,985.074.2042x6244
4,Jeffrey Herman,thomas64@example.net,48,001-736-378-3051
5,Maureen Harris,dariuswilliams@example.org,64,001-471-668-6788
6,Mark Nelson,solomoncassandra@example.net,63,(825)585-5701x38003
7,Robert Cunningham,kharper@example.org,18,6398708668
8,Samantha Johnson,justin72@example.com,35,001-066-994-3621
9,Cindy Blanchard,jack24@example.org,90,728.610.8631x7321